* {
  box-sizing: border-box; }

body {
  font-family: arial, sans-serif;
  font-size: 1em;
  color: #000;
  letter-spacing: 0.04em; }

h1 {
  font-size: 1.75em;
  font-weight: bold;
  padding: 1em 0; }

h2 {
  font-size: 1.125em;
  padding: 0.5em 0; }

p {
  font-size: 1em;
  color: #5a5a5a;
  line-height: 1.6em;
  padding-top: 0.5em;
  padding-bottom: 1em; }

ul li {
  font-weight: bold;
  color: #000;
  margin: 5px;
  padding: 10px;
  background-color: #fff; }

a {
  text-decoration: none; }
  a:link, a:visited {
    color: inherit; }

span {
  margin-left: 15px; }

@media (min-width: 768px) {
  .intro {
    padding-bottom: 65px; } }
@media (min-width: 768px) {
  .intro p {
    float: left; } }
.intro img {
  width: 70%; }
  @media (min-width: 768px) {
    .intro img {
      float: right;
      max-width: 50%;
      display: inline;
      padding-top: 0; } }

@media (min-width: 768px) {
  section {
    padding-left: 2em;
    padding-right: 2em;
    text-align: center; } }

@media (min-width: 768px) {
  .portfolio-section {
    display: inline-block;
    float: left;
    max-width: 50%;
    padding-left: 1em;
    padding-right: 1em; } }
@media (min-width: 1024px) {
  .portfolio-section {
    display: inline-block;
    max-width: 33.33333%; } }
@media (min-width: 768px) {
  .portfolio-section:nth-child(even) {
    clear: left; } }
@media (min-width: 1024px) {
  .portfolio-section:nth-child(even) {
    clear: none; } }
@media (min-width: 1024px) {
  .portfolio-section:nth-child(5n) {
    clear: left; } }
.portfolio-section img {
  max-width: 100%;
  margin-top: 1em;
  margin-bottom: 1em; }

#contact {
  margin-top: 2em;
  padding-top: 40px;
  padding-bottom: 50px; }

#text {
  padding-bottom: 30px; }

.non_mobile {
  display: none; }

@media screen and (min-width: 768px) {
  .clearfix:after {
    content: " ";
    display: table;
    clear: both; } }
header {
  background-color: #fafafa; }
  @media (min-width: 768px) {
    header {
      padding-left: 2em;
      padding-right: 2em;
      text-align: center; } }

@media (min-width: 1024px) {
  .name {
    float: left; } }
@media (min-width: 1024px) {
  .name h1 {
    display: inline-block;
    padding: 0;
    margin: 0; } }

.navigation {
  padding-bottom: 2em; }
  @media (min-width: 768px) {
    .navigation {
      padding-left: 1em;
      padding-right: 1em; } }
  @media (min-width: 1024px) {
    .navigation {
      padding-top: 3em;
      padding-bottom: 3em;
      padding-right: 0;
      line-height: 2em; } }

@media (min-width: 1024px) {
  .nav-bar {
    float: right; } }

@media (min-width: 1024px) {
  .nav-bar ul {
    display: inline-block;
    padding: 0;
    margin: 0; } }

@media (min-width: 768px) {
  .nav-bar li {
    display: inline-block;
    background-color: inherit; } }
@media (min-width: 1024px) {
  .nav-bar li {
    float: left;
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-left: 2em; } }

.wrap {
  border-top: 1px solid gainsboro; }
  @media (min-width: 768px) {
    .wrap {
      margin-left: 2em;
      margin-right: 2em; } }

footer {
  padding-top: 2em;
  padding-bottom: 2em; }

#stu-name {
  float: left; }

#btt {
  float: right; }
  @media (min-width: 768px) {
    #btt {
      display: none; } }

/******************************
SWAPPING FOOTER NAVIGATION
*******************************/
@media (min-width: 768px) {
  .non_mobile {
    display: inline-block;
    float: right; } }

@media (min-width: 768px) {
  .non_mobile li {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-left: 1em; } }

section, #contact, header, .wrap {
  margin-left: 1.5em;
  margin-right: 1.5em; }

span, footer, #portfolio, #contact h2 {
  font-weight: bold; }

section, header, #contact {
  text-align: center; }

#portfolio, #contact h2 {
  text-transform: uppercase; }

.intro p {
  padding-top: 20px;
  padding-bottom: 50px;
  color: #aaaaaa; }
  @media (min-width: 768px) {
    .intro p {
      max-width: 50%;
      display: inline;
      text-align: left;
      padding: 0 1em; } }

#portfolio {
  padding-top: 50px;
  padding-bottom: 40px; }

#portfolio,
.portfolio-imgs {
  background-color: #fff; }

#contact {
  background-color: #fafafa; }
  #contact p {
    color: #aaaaaa; }
    @media (min-width: 768px) {
      #contact p {
        max-width: 50%;
        margin: 0 auto; } }
  #contact h2 {
    margin-bottom: 20px; }
  @media (min-width: 768px) {
    #contact {
      padding-left: 2em;
      padding-right: 2em;
      text-align: center; } }

/*# sourceMappingURL=application.css.map */
