.wrap {
  border-top: 1px solid $color-border;
  @extend %LR-margin;

  @include bp($brk-narrow) {
    margin-left: 2em;
    margin-right: 2em;
  }
}

footer {
  @extend %bold;
  @include padding-tb(2em, 2em);
}

#stu-name {
  float: left;
}

#btt {
  float: right;

  @include bp($brk-narrow) {
    display: none;
  }
}

/******************************
SWAPPING FOOTER NAVIGATION
*******************************/

.non_mobile {
  @include bp($brk-narrow) {
    display: inline-block;
    float: right;
  }
}

.non_mobile li {
  @include bp($brk-narrow) {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-left: 1em;
  }
}
