header {
  background-color: $color-bg-grey;
  @extend %LR-margin;
  @extend %center;

  @include bp($brk-narrow) {
    padding-left: 2em;
    padding-right: 2em;
    text-align: center;
  }
}

.name {
  @include bp($brk-wide) {
    float: left;
  }

  & h1 {
    @include bp($brk-wide) {
      display: inline-block;
      padding: 0;
      margin: 0;
    }
  }
}
